# idea ignore
.idea/
*.ipr
/src/test
*.iml
*.iws

# temp ignore
*.log*
*.cache
*.diff
*.patch
*.tmp
*.swp

# system ignore
.DS_Store
Thumbs.db
hs_err_pid*

# css ignore
.sass-cache/
*.css.map

＃js ignore
*.js.map

# npm ingore
node_modules/

# project ignore
build/