$color-primary-base:                  #00BCD4 !default;   // 208H, 68S, 56B
$color-primary-light:                 #0CEBC7 !default;
$color-primary-dark:                  #0C97EB !default;
$color-primary-darker:                #0097A7 !default;
$color-primary-darkest:               #006064 !default;

$color-secondary-base:                #f19726 !default;
$color-secondary-light:               #f0a400 !default;
$color-secondary-dark:                #f39801 !default;
