@import "../../common";

.header {
  display: flex;
  flex-direction: row;

  background-color: $color-primary-base;

  .logo {
    flex: 0 0 200px;
  }

  .nav {
    flex: 1;
  }

  .nav-item {

  }
}